@import "./fonts";

// Основные цвета
$color-primary: #0B99C1;      // главный цвет
$color-text: #232426;         // цвет текста
$color-background: #FFFFFF;   // цвет фона
$color-secondary: #F0FFFF;    // второстепенный цвет

// Состояния
$color-hover: #2BBAE2;        // ховер
$color-active: #037E9F;       // нажатие

// Нейтральные
$color-gray: #B2B1B7;         // серый

// Цвета активации
$color-danger: #FF9D97;       // красный
$color-success: #4DCD88;      // зеленый
$color-info: #4D8FCD;         // синий
$color-warning: #FFCF97;      // желтый

