@import "./fonts";

// Основные цвета
$color-primary: #0b99c1; // главный цвет
$color-text: #232426; // цвет текста
$color-background: #ffffff; // цвет фона
$color-secondary: #f0ffff; // второстепенный цвет

// Состояния
$color-hover: #2bbae2; // ховер
$color-active: #037e9f; // нажатие

// Нейтральные
$color-gray: #b2b1b7; // серый

// Цвета активации
$color-danger: #ff9d97; // красный
$color-success: #4dcd88; // зеленый
$color-info: #4d8fcd; // синий
$color-warning: #ffcf97; // желтый
